@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}
@mixin to_deep_color {
  color: $main-color--deep;
}
@mixin scale_up {
  transform: scale(1.1);
}

//color
$coral: #e97b6e;
$gray: #f3f3f6;
$deep-gray: #d2d2d7;
$main-blue--light: #71b3fc;
$main-blue: #0071e3;
$main-color: #a0ffab;
$main-color--light: #71b3fc;
$main-color--deep: #0071e3;
$main-font-color: #1e1e21;
$sub-font-color--gray: rgb(59, 59, 59);

//font
$font-size--smallest: 1.4rem;
$font-size--small: 1.6rem;
$font-size--big: 2rem;

//layout
$content-padding: 1vh 3vh;
$page-content-ratio--without-btn: 75vh;
$page-content-ratio--with-btn: 65vh;
.nav-btns--left {
  position: fixed;
  top: 0;
  left: 0;
}
.nav-btn--container {
  @extend .flex-row;
  @extend .flex-center;
  position: fixed;
  top: 1rem;
  left: 1rem;
}
.nav-btn {
  @extend .flex-row;
  @extend .flex-center;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
}
.nav-btn:hover {
  border-radius: 50%;
  @include to_deep_color;
}
//@Flex
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

//@font
.font--title {
  font-family: "Pretendard-ExtraBold";
  font-weight: 800;
}
.font--small-title {
  font-family: "Pretendard-Bold";
  font-weight: 700;
}
.font--basic-content {
  font-family: "Pretendard-Light";
  font-weight: 300;
}

//@layout
.page-title {
  @extend .font--title;
  font-size: $font-size--big;
  max-height: 25vh;
  padding: 13vh 0vh 5vh 0vh;
  box-sizing: border-box;
  text-align: center;
}
.subject--container-size {
  padding: 1.5rem 0;
  min-height: 3rem;
}
.subject--container__input {
  @extend .font--basic-content;
  border: none;
  width: 60%;
  min-width: 3rem;
  height: 4rem;
}
.titleLine {
  width: 100%;
  height: 2px;
  background-color: $gray;
}
.contentLine {
  width: 100%;
  height: 1px;
  background-color: $gray;
}
.saveBtn {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  border: none;
  background-color: $gray;
  color: $main-color--deep;
  font-family: "Pretendard-Light";
}
.saveBtn:hover {
  filter: brightness(95%);
}
.pinkCoral {
  background-color: #e97b6e;
}
.lightPink {
  background-color: #ee9cb3;
}
.deepYellow {
  background-color: #f8c41c;
}
.lightYellow {
  background-color: #fae47f;
}
.lightGreen {
  background-color: #deea7c;
}
.fluorescentGreen {
  background-color: #84eea6;
}
.lightblue {
  background-color: #77ceec;
}
.deepblue {
  background-color: #5d91f7;
}
.pastelPurple {
  background-color: #8878e5;
}
//Link
.link--remove-style {
  text-decoration: none;
  color: $main-font-color;
}
//input
// 숫자 타입 인풋에서 화살표 안보이게 설정했다.
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
