@use "basic" as b;
@import "./mediaQuery.scss";
.calendar-only {
  flex-grow: 6;
  flex-basis: 0;
  padding: 0 15vw;
  @include for-tablet-landscape-up {
    padding: 0 20vw;
  }
}
.calendar {
  height: 100vh;
  position: relative;
  @extend .flex-column;
  .calendar__show-menu-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .calendar__menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 6rem 3rem;
    background-color: b.$main-color;
    height: 100vh;
    width: 70%;
    max-width: 30rem;
    @extend .font--small-title;
    .menu__line {
      width: 90%;
      height: 2px;
      background-color: b.$sub-font-color--gray;
    }
    .calendar__menu__close-btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.5rem;
    }
    .calendar__menu__close-btn:hover {
      background-color: b.$main-color--deep;
      border-radius: 50%;
      padding: 0.5rem;
    }
    .calendar__menu__list {
      padding: 5rem 0 0.5rem 0;
    }
  }
  .calendarTop {
    @extend .font--title;
    display: flex;
    justify-content: center;
    height: 20%;
    .calendarTop__this-month {
      @extend .flex-row;
      @extend .flex-center;
    }
    button {
      @extend .flex-row;
      @extend .flex-center;
      font-size: 3rem;
      background-color: transparent;
      border: none;
      padding: 0 2rem;
      cursor: pointer;
    }
  }
  .calendarBttm {
    // padding: b.$content-padding;
    font-size: 1.5rem;
    height: 80%;
    @extend .flex-column;
    .days,
    .dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      text-align: center;
    }
    .days {
      flex-basis: 0;
      flex-shrink: 0;
      min-height: 2rem;
    }
    .dates {
      flex-basis: 0;
      flex-grow: 8;
    }
    .dates__date {
      border-top: 1px solid gray;
      cursor: pointer;
      .dates__studentColors {
        @include for-tablet-landscape-up {
          padding: 1rem 1.5rem;
        }
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
      }
      .studentInCal {
        @include for-tablet-landscape-up {
          width: 1.3rem;
          height: 1.3rem;
        }
        margin: 1px;
        width: 1rem;
        height: 1rem;
        border-radius: 3px;
        font-size: 1.5rem;
      }
    }
    .dates__date:hover {
      background-color: b.$gray;
    }
  }
  .calendar__add-hwmk-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: b.$main-color--light;
    // width: 5rem;
    // height: 5rem;
    // display: flex;
    // // justify-content: center;
    // // align-items: center;
    // // flex-direction: column;
    // font-size: 1rem;
  }
}
