@use "basic" as b;
@import "./mediaQuery.scss";
.calendar__homework-lists {
  z-index: 10;
  position: relative;
  background-color: b.$gray;
  flex-grow: 4;
  flex-basis: 0;
  word-break: break-all;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up {
    padding: 0 20vw;
  }
  .homework-lists__top {
    @extend .flex-row;
    @extend .flex-center;
    padding: 1rem;
  }
  .calendar__homework-lists__close-btn {
    @extend .flex-row;
    @extend .flex-center;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2.2rem;
  }
  .calendar__homework-lists__date {
    @extend .font--small-title;
    @extend .flex-row;
    @extend .flex-center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .calendar__homework-lists__all-students {
    position: relative;
    overflow: auto;
    height: 100%;
    margin-bottom: auto;
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-family: "Pretendard-Bold";
      color: #dbdbdb;
      font-size: 3rem;
    }
    @include for-tablet-portrait-up {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
    }
    .calendar__homework-lists__list {
      flex-basis: 45%;
      padding: 0.5rem calc((100% - 90%) / 4); //flex-basis후 남는 좌우 여백을 padding에 균등하게 배분한다.
      .calendar__homework-list__student {
        @extend .font--small-title;
        @extend .flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 2px 2rem;
        font-size: b.$font-size--smallest;
        @include for-tablet-portrait-up {
          font-size: b.$font-size--small;
        }
      }
      .calendar__homework-list__delete {
        .calendar__homework-list__deleteBtn {
          padding: 5px;
          border-radius: 50%;
          cursor: pointer;
          color: #00000052;
        }
        .calendar__homework-list__deleteBtn:hover {
          color: black;
        }
      }
      .calendar__homework-list__content {
        background-color: white;
        padding: 1rem 2rem;
        font-size: b.$font-size--smallest;
        @include for-tablet-portrait-up {
          font-size: 1rem;
        }
      }
      .homework-list__noContent {
        color: rgb(192, 192, 192);
        font-size: 1rem;
      }
      @include for-tablet-landscape-up {
        flex-basis: 30%;
        padding: 0.5rem calc((100% - 90%) / 6);
      }
    }
  }
  .calendar__homework-lists__addHmwk {
    @extend .flex-row;
    @extend .flex-center;
    border: 0;
    .homework-lists__addHmwk-btn {
      margin: 2rem;
      border-radius: 3rem;
      padding: 1rem 1.5rem;
      background-color: b.$main-color--deep;
      color: white;
      font-size: 1.6rem;
      font-family: "Pretendard-Medium";
    }
    .homework-lists__addHmwk-btn:hover {
      filter: brightness(110%);
    }
    button {
      @extend .flex-row;
      @extend .flex-center;
      background-color: white;
      font-size: b.$font-size--smallest;
      border: 0;
    }
    button:hover {
      background-color: b.$main-color--deep;
      cursor: pointer;
    }
  }
}
