@import "basic.scss";
.success_container {
  background-color: #5c92ff;
}
.error_container {
  background-color: #ff5c5c;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.212);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .content {
    @extend .flex-column;
    @extend .flex-center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    position: fixed;
    background: white;
    width: 35rem;
    height: 35rem;
    background-color: white;
    border-radius: 5px;
    font-size: $font-size--small;
    padding-bottom: 3rem;
    button:focus {
      outline: 1px solid #71b3fc;
    }
    button {
      position: relative;
      width: 80%;
      color: white;
      border-radius: 1rem;
      padding: 1rem;
      height: 5rem;
    }
    .icon_wrap {
      padding-top: 5rem;
      .icon {
        color: #aec0ec;
        height: 10rem;
      }
    }
    .text_container {
      @extend .flex-column;
      @extend .flex-center;
      margin-top: auto;
      margin-bottom: auto;
    }
    .text_main {
      @extend .font--small-title;
      font-size: 4rem;
    }
    .text_sub {
      font-size: $font-size--smallest;
      padding: $content-padding;
      padding-top: 2rem;
      line-height: $font-size--small;
      text-align: center;
    }
    .do_btn {
      @extend .font--small-title;
      cursor: pointer;
      background-color: $main-color--deep;
    }
    .cancel_btn {
      @extend .font--small-title;
      background-color: $gray;
      margin-bottom: 1rem;
      color: #5c92ff;
    }
  }
}
.ok_btn {
  cursor: pointer;
  background-color: $main-color--deep;
}
.cancel_btn:hover {
  background-color: $deep-gray;
}
.do_btn:hover,
.ok_btn:hover {
  background-color: $main-color--deep;
}
.text {
  font-size: 2rem;
}
