@use "basic" as b;
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: b.$coral;
}
.buildProfileSaveBtn {
  @extend .saveBtn;
  @extend .font--small-title;
}
.studentInfo {
  height: b.$page-content-ratio--with-btn;
  overflow: auto;
}
.studentInfo--bttm {
  // padding: b.$content-padding;
  .studentInfo__highlight {
    // background-color: b.$main-color;
    font-weight: bold;
    font-size: b.$font-size--smallest;
    font-family: "Pretendard-Bold";
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    width: 5rem;
    height: 2rem;
    border-radius: 3px;
  }
  .studentInfo__margin {
    margin-right: 0.5rem;
  }
  .studentInfo__name,
  .studentInfo__wage,
  .studentInfo__first-date,
  .studentInfo__days,
  .studentInfo__color,
  .studentInfo__memo {
    @extend .subject--container-size;
  }
  > div {
    @extend .flex-row;
    align-items: center;
    font-size: b.$font-size--small;
    input {
      @extend .subject--container__input;
      font-size: b.$font-size--small;
    }
    /* delete btn in input type number - Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* delete btn in input type number - Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .studentInfo__name__title,
    .studentInfo__wage__title,
    .studentInfo__first-date__title,
    .studentInfo__days__title,
    .studentInfo__color__title,
    .studentInfo__memo__title {
      @extend .font--small-title;
      @extend .flex-row;
      @extend .flex-center;
      min-width: 15rem;
      max-width: 10vw;
    }
    .studentInfo__days__content {
      @extend .flex-row;
      input {
        display: none;
      }
      .dayLabel__Div {
        @extend .flex-row;
        @extend .flex-center;
        border: 1px solid #dbdbdb;
        color: b.$sub-font-color--gray;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 5px;
        border-radius: 1rem;
        cursor: pointer;
      }
      label:hover {
        .dayLabel__Div {
          font-weight: bold;
          background-color: b.$main-color--deep;
          color: white;
          border: none;
          @include b.scale_up;
          transform: scale(1.2);
        }
      }
      .dayChecked {
        font-weight: bold;
        background-color: b.$main-color--deep;
        color: white;
        border: none;
      }
    }
    .studentInfo__wage__content {
      padding: 1.5rem 0;
      .studentInfo__wage__args {
        @extend .flex-column;
        > div {
          padding-bottom: 0.5rem;
        }
      }
      .studentInfo__wage__args__onweek {
        @extend .flex-row;
        align-items: center;
        .studentInfo__wage__p {
          padding-right: 1rem;
        }
      }
      .studentInfo__wage__result {
        @extend .flex-row;
      }
      input {
        text-align: center;
        height: 2rem;
        width: 2rem;
      }
    }
    .studentInfo__color__content {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1rem;
    }
    .studentInfo__color__inputContainer {
      @extend .flex-row;
      @extend .flex-center;
      .colorInput {
        display: none;
      }
    }
  }
}
.colorLabelDiv {
  min-height: auto;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 5px;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 60%;
}
label:hover {
  .colorLabelDiv {
    opacity: 100%;
    transform: scale(1.2);
  }
}
.colorLabelDarker {
  opacity: 100%;
  transform: scale(1.2);
  border: 1px solid #dbdbdb;
}
